<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string><![CDATA[http://oa.99.com/v2/app/down/11/nd99u_ios/105020000/nd99u_ios_v1.5.2.520602.ipa?md5=3bdda5f93698a6e924d4ab1f06b03bd1]]></string>
          </dict>
          <dict>
            <key>kind</key>
            <string>display-image</string>
            <key>needs-shine</key>
            <false/>
            <key>url</key>
            <string><![CDATA[http://oa.99.com/v2/app/appicon?appid=11&size=f64&product=nd99u_ios]]></string>
          </dict>
          <dict>
            <key>kind</key>
            <string>full-size-image</string>
            <key>needs-shine</key>
            <false/>
            <key>url</key>
            <string><![CDATA[http://oa.99.com/v2/app/appicon?appid=11&size=f128&product=nd99u_ios]]></string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>com.nd.91uu.nd</string>
          <key>bundle-version</key>
          <string><![CDATA[1.5.2.520602]]></string>
          <key>kind</key>
          <string>software</string>
          <key>subtitle</key>
          <string>Apple</string>
          <key>title</key>
          <string><![CDATA[nd99u_v1.5.2.520602]]></string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
