<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">

<dict>

   <key>items</key>

   <array>

       <dict>

           <key>assets</key>

           <array>

               <dict>

                   <key>kind</key>

                   <string>software-package</string>

                   <key>url</key>

                   <string><![CDATA[https://oa.99.com/downloads/app/1068?product=ndhd_ios&ver=1]]></string>

               </dict>

               <dict>

                   <key>kind</key>

                   <string>display-image</string>

                   <key>needs-shine</key>

                   <false/>

                   <key>url</key>

                   <string>http://oapnd.99.com/images/apps/1068_f114.png</string>

               </dict>

               <dict>

                   <key>kind</key>

                   <string>full-size-image</string>

                   <key>needs-shine</key>

                   <false/>

                   <key>url</key>

                   <string>http://oapnd.99.com/images/apps/1068_f57.png</string>

               </dict>

           </array>

           <key>metadata</key>

           <dict>

               <key>bundle-identifier</key>

               <string>com.nd.activities</string>

               <key>bundle-version</key>

               <string>1.0.0</string>

               <key>kind</key>

               <string>software</string>

               <key>subtitle</key>

               <string>Apple</string>

               <key>title</key>

               <string>1.0.0</string>

           </dict>

       </dict>

   </array>

</dict>

</plist>
